.hero {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  /* color: #fff;  */
  display: flex;
  align-items: center;
  background-image: url(.././././/../assets/HeroSectionImage.png);
}

.hero-content {
  text-align: center;
  width: 100%;
}

h1 {
  margin-top: 2px;
}
h3 {
  margin-top: 20px;
  color: red;
}
/* 
img {
  background-image: url(./././../../assets/HeroSectionImage.png);
} */
